{% extends 'base/base.html' %}
{% block title %}Add Attendance{% endblock title %}}
{% block body %}
{% load static %}


<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-edit"></i>
			<a href="#">Attendance</a>
		</li> 
	</ul>
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2>
					<i class="halflings-icon edit"></i>
					<span class="break"></span>Add Attendance
				
				</h2>
				<div class="box-icon">
				    <a href="/ems/show_attendance/" class="btn btn-primary teamlist">Attendance List</a>
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<form method="POST" class="form-horizontal" action="/ems/create_attendance/">
				{% csrf_token %} 
					<div class="control-group">
						<label class="control-label" for="employee">Employee Name </label>
						<div class="controls">
						{{form.employee}}
						</div>
					</div>
                   
					<div class="control-group">
						<label class="control-label" for="created_entry">Entry Date </label>
						<div class="controls">
						{{form.created_entry}}
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="created_exit">Exit Date </label>
						<div class="controls">
						{{form.created_exit}}
						</div>
					</div>

						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save changes</button>
							<button type="reset" class="btn">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--/span-->
	</div>
	<!--/row-->
</div>			
{% endblock body %}