{% extends 'base/base.html' %}
{% block title %}Employee{% endblock title %}
{% block body %}
{% load static %}
<!-- start: Content                  include base-->
<div id="content" class="span10">
   <ul class="breadcrumb">
      <li>
         <i class="icon-home"></i>
         <a href="{% url 'dashboard' %}">Home</a>
      </li>        
   </ul>
   <div class="row-fluid sortable">
      <div class="box span12">
         <div class="box-header" data-original-title>
            <h2><i class="halflings-icon user"></i><span class="break"></span>Employee List</h2>
            <div class="box-icon">
               <a href="/ems/create_employee/" class="btn btn-primary teamlist">Add New Employee</a>
               <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
               <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
               <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
         </div>

         <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Employee Name</th>
                     <th>Employee Email</th>
                     <th>Employee Team</th>
                     <th>Employee Designation</th>
                     <th>Employee Phone</th>
                     <th>Gender</th>
                     <th>Employee Address</th>
                     <th>Salary</th>
                     <th>Actions</th>
                  </tr>
               </thead>


               <tbody>
               {% for employee in employees %}
                  <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.employee_name }}</td>                    
                        <td>{{ employee.employee_email }}</td>                    
                        <td>{{ employee.team }}</td>                    
                        <td>{{ employee.designation }}</td>                    
                        <td>{{ employee.employee_phone }}</td>                    
                        <td>{{ employee.gender }}</td>                    
                        <td>{{ employee.address }}</td>                    
                        <td>{{ employee.salary }}</td>                                   

                     <td class="center">
                        <a class="btn btn-info" href="/ems/update_employee/{{employee.pk}}/">
                        <i class="halflings-icon white edit"></i>  
                        </a>

                        <a class="btn btn-danger" href="/ems/delete_employee/{{employee.pk}}/" onclick="return confirm('Are you sure you want to delete this item?');">

                        <i class="halflings-icon white trash"></i> 
                        </a>
                     </td>
                  </tr>
                  {% endfor %}

               </tbody>

            </table>

         </div>
         <!--/span-->
      </div>
      <!--/row-->
   </div>

</div>

{% endblock %}