{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>

      <!-- start: Meta -->
      <meta charset="utf-8">
      <meta name="description" content="Metro Admin Template.">
      <meta name="author" content="Łukasz Holeczek">
      <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
      <!-- end: Meta -->
      <!-- start: Mobile Specific -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- end: Mobile Specific -->
      <!-- start: CSS -->


      <title>{% block title %} {% endblock title %}</title>
      {% include 'base/header.html' %}

   </head>
   <body>
      <!-- Navbar -->
      {% include 'base/navbar.html' %}

      <!-- Sidebar -->
      <div class="container-fluid-full">
         <div class="row-fluid">
            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
               <div class="nav-collapse sidebar-nav">
                  <ul class="nav nav-tabs nav-stacked main-menu">
                     <li><a href="{% url 'dashboard' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
                     <li><a href="/ems/show_team/"><i class="icon-envelope"></i><span class="hidden-tablet"> Team</span></a></li>
                     <li><a href="/ems/show_designation/"><i class="icon-tasks"></i><span class="hidden-tablet"> Designation</span></a></li>
                     <li><a href="/ems/show_employee/"><i class="icon-eye-open"></i><span class="hidden-tablet"> Employee</span></a></li>
                     <li><a href="/ems/show_attendance/"><i class="icon-dashboard"></i><span class="hidden-tablet"> Attendance</span></a></li>
                     <li><a href="/ems/show_payroll/"><i class="icon-dashboard"></i><span class="hidden-tablet"> Payroll</span></a></li>
                  </ul>
               </div>
            </div>

            <!-- start: Content -->     
            {% block body %}
            
            {% endblock body %}

         </div>
      </div>

      {% include 'base/footer.html' %}
      {% include 'base/js.html' %}

   </body>
</html>